:root,
[data-theme="light"] {
  --rojo-falta-pago: #ffe6e6;
  --rojo-falta-pago-borde: #ffa39e;

  --verde-pagado: #f0fff0;
  --verde-pagado-borde: #b7eb8f;
  --verde-ingreso-tabla: #f6ffed;
  --verde-ingreso-tabla-hover: #b7eb8f;

  --fondo-boton-activo: #f5faff;
  --fondo-general: #ffffff;

  --texto-activo-azul: #1677ff;
}

[data-theme="dark"] {
  --rojo-falta-pago: #3b1a1a;
  --rojo-falta-pago-borde: #7a2a2a;

  --verde-pagado: #1a2e1a;
  --verde-pagado-borde: #3a6b2a;
  --verde-ingreso-tabla: #192819;
  --verde-ingreso-tabla-hover: #2d4d2d;

  --fondo-boton-activo: #111d2c;
  --fondo-general: #141414;

  --texto-activo-azul: #4096ff;
}

.row-ingreso td {
  background-color: var(--verde-ingreso-tabla) !important; 
}

.ant-table-tbody > tr.row-ingreso:hover > td {
  background-color: var(--verde-ingreso-tabla-hover) !important;
}
